<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.ozgurceuc.app" version="2013.02.19" versionCode="2013.02.19">
<name>ozgurceuc</name> 
<description>www.ozgurceuc.com app</description> 
<author href="http://www.ozgurceuc.com" email="iletisim@ozgurceuc.com">mci
</author> 
<icon src="ozgurceuc_72.png" width="72" height="72" />
<icon src="ozgurceuc_48.png" width="48" height="48" />
<icon src="ozgurceuc_36.png" width="36" height="36" />
</widget>